<div class='wrapper'>
        <div class='form-wrap'>
            
            <div class='text'>
                <h1>Hey, Login to continue!</h1>
            </div>
    
            <form [formGroup]="registrationForm">
                <div class='from-controls'>
                    <mat-form-field>
                        <input id="email"
                                matInput
                                formControlName="email"
                                [(ngModel)]="user.email"
                                placeholder="Enter your email" />
                    </mat-form-field>
    
                    
                    <mat-form-field>
                        <input id="password"
                                matInput
                                [type]="hide ? 'password' : 'text'"
                                formControlName="password"
                                [(ngModel)]="user.password"
                                placeholder="Enter your password" />
                        <mat-icon class="icon" matSuffix (click)="hide = !hide">
                            {{hide ? 'visibility_off' : 'visibility' }}
                        </mat-icon>
                    </mat-form-field>
    
                    <button class="form-buttons" mat-button type='submit'>Login</button>
                </div>
                <div class='link'>
                    Don't have an account <a routerLink='/register'>Register</a>
                </div>
            </form>
        </div>
    </div>