.body {
    display: flex;
    background-color: #E9EBEE;
}

.left-panel {
    flex: 1
}

.center-panel {
    flex: 1
}

.right-panel {
    flex: 1
}

.card {
    margin-bottom: 10px
}

mat-card-header {
    margin: 0px;
}

mat-card>p {
    padding: .2em;
    font-size: 1rem;
    background-color: #cfcfcf;
}

mat-card {
    padding: 0px;
}

div.input-box {
    width: 100%;
    text-align: center
}

div.input-box>input {
    width: 95%;
    padding: 10px 0px;
    font-size: 1.2rem;
    border: none;
    outline: none;
    word-wrap: break-word
}

div.hr-break {
    width: 100%;
}

div.hr-break>hr {
    width: 95%;
    margin: 0px auto;
    border: .4px solid #cfcfcf
}

mat-card>.mat-card-actions:last-child {
    padding-bottom: 0px;
    margin-bottom: 0px
}

mat-card-actions>div {
    padding: 0 1rem 0rem 0;
    text-align: right
}