<div class='wrapper'>
    <navbar></navbar>

    <div class="body">
        <div class="left-panel">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>

        <div class="center-panel">
            <div class="card">
                <mat-card>
                    <p>Create Post</p>
                    <mat-card-content>
                        <div class="input-box">
                            <input placeholder="Whats in your head ?" />
                        </div>
                    </mat-card-content>
                    <div class="hr-break">
                        <hr />
                    </div>
                    <mat-card-actions>
                        <div><button mat-button>Share</button></div>
                    </mat-card-actions>
                </mat-card>
            </div>

            <div class="card">
                <card></card>
            </div>
            <div class="card">
                <card></card>
            </div>
            <div class="card">
                <card></card>
            </div>
            <div class="card">
                <card></card>
            </div>
            <div class="card">
                <card></card>
            </div>
        </div>

        <div class="right-panel">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

</div>